.app-logo {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

@media screen and (min-width: 600px) {
  .app-logo {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }
}
