:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-base: 'Space Mono', monospace;

  --fs-base: 16px;
  --fs-input: 24px;

  --fw-regular: 400;
  --fw-bold: 700;

  --cc-strong-cyan: hsl(172, 67%, 45%);

  --cc-dark-cyan: hsl(183, 100%, 15%);
  --cc-dark-gray-cyan: hsl(186, 14%, 43%);
  --cc-gray-cyan: hsl(184, 14%, 56%);
  --cc-light-gray-cyan: hsl(185, 41%, 84%);
  --cc-very-light-gray-cyan: hsl(189, 41%, 97%);
  --cc-white: hsl(0, 0%, 100%);
  --cc-hover: #9fe8df;
  --cc-error: hsla(360, 61%, 46%, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: var(--fs-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--cc-light-gray-cyan);
  width: 100%;
  display: grid;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: var(--fs-input);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
  width: 100%;
}

label {
  color: var(--cc-dark-gray-cyan);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}